body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  overflow: hidden !important;
}

a {
  color: black;
  text-shadow: 1px 1px #00ffff;
}

a:hover {
  color: black;
  text-decoration-color: #00ffff;
  text-shadow: none;
}

a:visited {
  color: black;
}
